{% extends 'base2.html' %}
{% block title %}Betting History{% endblock %}
{% block content %}
<div id="heading" >
	<h1>History</h1>
</div>

<section id="main" class="wrapper">
	<div class="inner">
		<div class="content">
			{% if user.is_authenticated %}
			<header class="special">
				<h2>Past Betting Sheets</h2>
			</header>			
			<!--<table style="width:50%">
		  		<tr>
		  			<th>Participant</th>
		  			<th>Total Points</th>
		  		</tr>
				
				{% for participant in participants %}

				<tr>
					<td> {{participant.user.username}} </td>
					<td> {{participant.total_points}} </td>
				</tr>

				{% endfor %}
			</table> -->
		
			{% else %}
		  	<p>You are not logged in</p>
			{% endif %}
		</div>
	</div>
</section>

{% endblock %}