{% extends 'base.html' %}

{% block title %}Betting History{% endblock %}

{% block content %}

	<h1>Past Betting Sheets</h1>
	{% if user.is_authenticated %}

<!-- 	<table style="width:50%">
  		<tr>
  			<th>Participant</th>
  			<th>Total Points</th>
  		</tr>
		
		{% for participant in participants %}

		<tr>
			<td> {{participant.user.username}} </td>
			<td> {{participant.total_points}} </td>
		</tr>

		{% endfor %}

	</table> -->

	{% else %}
  	<p>You are not logged in</p>
	{% endif %}

{% endblock %}