{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}! This is the start of something great by the Super Software Bros.</p>

  <h1>College Betting Sheet</h1>

    <form target="_blank" method="POST">
        {% csrf_token %}
  	<table style="width:100%">
  		<tr>
  			<th>Favorite</th>
  			<th>Line</th>
  			<th>Underdog</th>
  			<th>TV</th>
  			<th>Date/Time</th>
  		</tr>
  		{% for game in current_week_game_list %}
  		<tr>
  			<td><input type="radio" name="game{{ game.id }}" value="{{game.favorite}}" />{{ game.favorite }}</td>
  			<td>{{ game.line }}</td>
  			<td><input type="radio" name="game{{ game.id }}" value="{{game.underdog}}" />{{ game.underdog }}</td>
  			<td>{{ game.tv }}</td>
  			<td>{{ game.datetime }}</td>
  		</tr>
  		{% endfor %}
  	</table>
	<input type="hidden" name="userID" value="{{ user.id }}">
  	<input type="Submit" value="Submit Betting Sheet" />
    </form>

  <br/>
  <!--<button type="submit">Logout</button>-->
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock %}