{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p>Hi {{ user.username }}! This is the start of something great by the Super Software Bros.</p>

  <h1>College Betting Sheet</h1>

  	<table style="width:100%">
  		<tr>
  			<th>Favorite</th>
  			<th>Line</th>
  			<th>Underdog</th>
  			<th>TV</th>
  			<th>Date/Time</th>
  		</tr>
  		{% for game in current_week_game_list %}
  		<tr>
  			<td>{{ game.favorite }}</td>
  			<td>{{ game.line }}</td>
  			<td>{{ game.underdog }}</td>
  			<td>{{ game.tv }}</td>
  			<td>{{ game.datetime }}</td>
  		</tr>
  		{% endfor %}
  	</table>

  <br/>
  <!--<button type="submit">Logout</button>-->
{% else %}
  <p>You are not logged in</p>
{% endif %}
{% endblock %}