{% extends 'base.html' %}

{% block title %}Scores{% endblock %}

{% block content %}

	<h1>Current Scores</h1>
	{% if user.is_authenticated %}

	<table style="width:50%">
  		<tr>
  			<th>Rank</th>
  			<th>Participant</th>
  			<th>Total Points</th>
  		</tr>
		
		{{participants.0.user.username}}

		{% for participant in participants %}

		<tr>
			<td> {{ forloop.counter }} </td>
			<td> {{participant.user.username}} {{participants.0}}</td>
			<td> {{participant.total_points}} </td>
		</tr>

		{% endfor %}

	</table>

	{% else %}
  	<p>You are not logged in</p>
	{% endif %}

{% endblock %}